body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url(../img/bath.jpg) no-repeat center center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
  font-family: 'Roboto',arial,sans-serif;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
}

.dropdown-login {
  padding:20px;
  min-width:250px;
}

#form_login_user {
  background: transparent;
}

.well {
  background-color: rgba(0,0,0,.4);
  border:none;
}

/* Links */
a {
    color: #999;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}

.navbar-custom .nav .dropdown .dropdown-menu a {
    text-transform: none;
    color: #999;
    text-decoration: none;
}

.navbar-custom .nav .dropdown .dropdown-menu a:hover,
.navbar-custom .nav .dropdown .dropdown-menu a:focus {
    color: #000;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom .nav li > a,
.navbar-custom .navbar-header > a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        border-bottom: 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.dropdown-menu {
  color:#000;
  font-family: 'Roboto',arial,sans-serif;
  text-transform: none;
}

.intro {
  background: rgba(0,0,0,.4);
}

.panel-body {
  color: #fff;
}

.panel-custom {
  background-color: rgba(0,0,0,.4);
}

.panel {
  background-color: rgba(0,0,0,.4);
}

/* Google Plus Button */
    #g-customBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 165px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #g-customBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    #f-customBtn {
      display: inline-block;
      background: #3b55a0;
      color: white;
      width: 165px;
      border-radius: 5px;
      white-space: nowrap;
    }
    #f-customBtn:hover {
      background: #4c69ba;
      cursor: hand;
    }
    .social-label {
      font-weight: bold;
    }
    .g-social-icon {
      /*background: url('/boilerplate/img/btn_red.png') transparent 5px 50% no-repeat;*/
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #bb3f30 1px solid;
    }
    .f-social-icon {
      /*background: url('/boilerplate/img/btn_red.png') transparent 5px 50% no-repeat;*/
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #354c8c 1px solid;
    }
    
    .social-buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
    }
    
    .login-icon {
      line-height: 35px;
      vertical-align: middle;
    }
    
    .SignInWrapper {
      margin: 5px;
    }