{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/boilerplate/assets/ico/favicon.ico">
    
    <title>Team 3502</title>

    <!-- Fonts -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/boilerplate/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/boilerplate/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/boilerplate/css/style.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    
    <script src="/boilerplate/js/libs/modernizr-2.7.1.min.js"></script>
  </head>

  <body role="document" style="">
    {% block navbar %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Team 3502 - Smart Mat</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if path == uri_for("about") %} class="active"{% endif %}>
                <a href="{{ uri_for("about") }}">{% trans %}About{% endtrans %}</a>
            </li>
            <li{% if path == uri_for("contact") %} class="active"{% endif %}>
                <a href="{{ uri_for("contact") }}">{% trans %}Contact{% endtrans %}</a>
            </li>
            <!--{% if not user_id %}
                <li{% if path == uri_for("register") %} class="active"{% endif %}>
                    <a href="{{ uri_for("register") }}">{% trans %}Sign Up{% endtrans %}</a>
                </li>
            {% endif %}-->
            {% if user_id %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li><a href="{{ uri_for("edit-profile") }}">{% trans %}Edit Profile{% endtrans %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ logout_url }}">{% trans %}Logout{% endtrans %}</a></li>
                    </ul>
                </li>
            {% elif path != "/" and path != "/login/" %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Login{% endtrans %} <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-login">
                      <li>
                      <label class="control-label">
                          {% trans %}Login with{% endtrans %}:
                      </label>
                      <!--<form id="form_login_user" action="{{ uri_for("login") }}" method="post"
                            class="auth-at-dropdown">
                          <fieldset>
                              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                              <div class="control-group">
                                  <label class="control-label" for="l_username">
                                      {% trans %}Username or Email{% endtrans %}:
                                  </label>
                                  <label class="controls">
                                      <input class="input-xlarge focused required form-control" id="l_username"
                                             name="username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
                                  </label>
                              </div>
                              <div class="control-group">
                                  <label class="control-label" for="l_password">
                                      {% trans %}Password{% endtrans %}:
                                  </label>
                                  <label class="controls">
                                      <input class="input-xlarge focused required form-control" id="l_password"
                                             name="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                                  </label>
                              </div>
                              <div class="control-group row-fluid">
                                  <label class="checkbox span7">
                                      <input type="checkbox" name="remember_me" id="remember_me"
                                             value="on">
                                      {% trans %}Remember me?{% endtrans %}
                                      <a href="{{ uri_for("password-reset") }}">
                                      {% trans %}Forgot your password?{% endtrans %}</a>
                                  </label>

                                  <div class="span5">
                                      <button type="submit" class="btn btn-primary btn-small btn-login">
                                          {% trans %}Login{% endtrans %}</button>
                                  </div>
                              </div>
                              <div class="control-group">
                                  
                              </div>
                              {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}

                          </fieldset>
                      </form>-->
                      <a href="/social_login/google" class="social-btn social-btn-google" title="google"><!--<i class="fa fa-google-plus fa-fw"></i> Google+--><img class="google-plus-signin" src="/boilerplate/img/Red-signin_Google_base_20dp.png" onclick="click(this);"></a>
                      </li>
                  </ul>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    <div class="container" role="main">

      {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/boilerplate/js/bootstrap.min.js"></script>
    <script src="/boilerplate/js/jquery-1.10.2.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="/boilerplate/js/chart-data-morris.js"></script>
    
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
    
    <script>
      function hover(element) {
          element.setAttribute('src', '/boilerplate/img/Red-signin_Google_hover_20dp.png');
      }
      function unhover(element) {
          element.setAttribute('src', '/boilerplate/img/Red-signin_Google_base_20dp.png');
      }
      function click(element) {
          element.setAttribute('src', '/boilerplate/img/Red-signin_Google_hover_20dp.png');
      }
      
      $('.google-plus-signin').mouseout(function() {
        $(this).attr("src", '/boilerplate/img/Red-signin_Google_base_20dp.png');
      });
      $('.google-plus-signin').mouseover(function() {
        $(this).attr("src", '/boilerplate/img/Red-signin_Google_hover_20dp.png');
      });
      $('.google-plus-signin').mousedown(function() {
        $(this).attr("src", '/boilerplate/img/Red-signin_Google_press_20dp.png');
      });
    </script>

  </body>
  
</html>