{% extends base_layout %}

{% block content %}
    <div id="page-wrapper">
        {% if user_id %}
        <div class="row">
          <div class="col-lg-8">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Your Weight Over Time</h3>
              </div>
              <div class="panel-body">
                <div id="morris-chart-area"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Summary</h3>
              </div>
              <div class="panel-body">
              </div>
            </div>
          </div>
        </div><!-- /.row -->
        
        {% else %}
      
        <div class="row">
        <div class="col-lg-4 auth-at-home col-lg-offset-8">
            <h3>{% trans %}Login{% endtrans %}</h3>
            <form id="form_login_user" action="{{ uri_for("login") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <div class="controls row-fluid">
                            <label class="span8">
                                <input class="focused required" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                            </label>
                            <label class="span4">
                                <button type="submit" class="btn btn-primary btn-login">{% trans %}Login{% endtrans %}</button>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me" value="on">
                            {% trans %}Remember me?{% endtrans %} <span class="separator"></span>
                            <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                        </label>
                    </div>
                    {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}

                </fieldset>
            </form>

            <h3>{% trans %}Sign Up{% endtrans %}</h3>
            <form id="form_register" action="{{ uri_for("register") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="username" id="username" type="text" placeholder="{% trans %}Username{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required email" name="email" id="email" type="email" placeholder="{% trans %}Email{% endtrans %}">
                            <input type="hidden" name="country" value="">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="password" id="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <label class="controls">
                            <input class="focused required" name="c_password" id="c_password" type="password" placeholder="{% trans %}Confirm Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="control-group">
                        <input type="hidden" name="country">
                        <input type="hidden" name="tz">
                        <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!-- /row -->
    {% endif %}

      </div><!-- /#page-wrapper -->
{% endblock %}
{% block mediaJS %}
    <!--<script src="/boilerplate/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/boilerplate/js/tablesorter/tables.js"></script>-->

{% endblock %}