{% extends base_layout %}

{% block header_title %}
        {% trans %}Login{% endtrans %}
{% endblock %}

{% block content %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-8">
        <div class="jumbotron intro">
          <h1>Hello, world!</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="well">
          <h3>{% trans %}Login with{% endtrans %}:</h3>
          <form id="form_login_user" action="{{ url|safe }}" method="post">
              <fieldset>
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                  {{ macros.field(form.username, label=_("Username or Email"), placeholder=_("Username or Email"), class="input-xlarge focused required form-control") }}
                  {{ macros.field(form.password, label=_("Password"), placeholder=_("Password"), class="input-xlarge focused required form-control", type="password") }}
                  <div class="control-group">
                      <label class="controls">
                          <button type="submit" class="btn btn-primary btn-login">{% trans %}Login{% endtrans %}</button>
                      </label>
                  </div>
                  <div class="control-group">
                      <label class="checkbox">
                          <input type="checkbox" name="remember_me" id="remember_me" value="on">
                          {% trans %}Remember me?{% endtrans %} <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                      </label>
                  </div>
                  <h3>{% trans %}Or Login With:{% endtrans %}</h3>
                  {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                  <div id="register" class="form-actions">
                      <h3>{% trans %}Don't have an account?{% endtrans %}</h3>
                     	<a href="{{ uri_for("register") }}" class="btn btn-primary btn-login">{% trans %}Sign Up{% endtrans %}</a>
                  </div>
              </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mediaJS %}
    <script>
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                          form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}